<div id="teambar" class="col-lg-10">

<table id="teambar">

  <tr id="teambar">



<td ng-repeat="player in team.lineup">


  <img class="img-rounded" ng-src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/{{player.esbid}}.png"></img></td>
</tr>
<tr>
  <td> <a class="btn btn-success" ui-sref="team.qb" target="_self">Quarterback</a></td>
 <td><a class="btn btn-success"ui-sref="team.rb">Running Back</a></td>
 <td><a class="btn btn-success"ui-sref="team.wr">Wide Receiver</a></td>
 <td><a class="btn btn-success"ui-sref="team.te">Tight End</a></td>
 <!-- <td><a class="btn btn-success"ui-sref="team.k">Kicker</a></td> -->

</tr>






</table>

</div>
