
<div class="text-center" ng-show="player.compared === true"><h2>Start {{player.left.sosScore > player.right.sosScore? player.left.name: player.right.name}}</h2></div>
<div id="profiles" class="jumbotron">




<div class="profile col-md-6 border-box" id="left">
Your starter<br><input ng-model="player.left.name" ng-change="player.searchFilter('left')" ng-model-options="{debounce: 500}"></input><br>

<img src='{{player.leftstock}}' />
<h3 id="playerTitle">
{{player.left.name}}, {{player.left.position}} - {{player.left.team_name}}</h3>
<div id="lStats">
<h4>Stats</h4>

<li class="list-group-item">Week {{player.current_week}}: Projected Points: {{player.left.week_projected_points}} </li>
<li class="list-group-item">Week Points: {{player.left.week_points}} </li>
<li class="list-group-item">Season Points: {{player.left.season_points}} </li>
<li class="list-group-item">Season Projected Points: {{player.left.season_projected_points}} </li>



<div class="morestats">


<div ng-click="player.left['clicked'] = true"><button class="btn btn-primary" ng-show="!player.left.clicked">Show More </button></div>


<div ng-if="player.left['clicked'] === true">


<div ng-repeat="(name,stat) in player.left.stats">
  <li class="list-group-item">{{name}}: {{stat}}</li>

</div>

  <h5>Matchup: {{player.left['opponent']['name'] }}</h5>
<h5>Defense Rank: {{player.left['opponent']['rank']}}</h5>

<strong><div ng-if="player.compared">S.O.S. Value: {{player.left['sosScore']}}</div></strong>

<button class="btn btn-success" ng-click="player.left['clicked'] = false">Hide</button>
</div>
</div>

</div>

</div>



<div class="profile col-md-6  " id="right">

Compared to: <br><input ng-model="player.right.name" ng-change="player.searchFilter('right')" ng-model-options="{debounce: 500}"></input>
<br>

  <img src='{{player.rightstock}}'/>
  <h3 id="playerTitle">{{player.right.name}}, {{player.right.position}} - {{player.right.team_name}}</h3>
<h4>Stats</h4>

<div id="rStats">
<li class="list-group-item">Week {{player.current_week}}: Projected Points: {{player.right.week_projected_points}} </li>
<li class="list-group-item">Week Points: {{player.right.week_points}} </li>
<li class="list-group-item">Season Points: {{player.right.season_points}} </li>
<li class="list-group-item">Season Projected Points: {{player.right.season_projected_points}} </li>

<div class="morestats">


<div ng-click="player.right['clicked'] = true"><button class="btn btn-primary" ng-show="!player.right.clicked">Show More </button></div>
<div ng-if="player.right['clicked'] === true">



<div ng-repeat="(name,stat) in player.right.stats">
  <li class="list-group-item">{{name}}: {{stat}}</li>
</div>
<h5>Matchup: {{player.right['opponent']['name'] }}</h5>
<h5>Defense Rank: {{player.right['opponent']['rank']}}</h5>

<strong><div ng-if="player.compared">S.O.S. Value: {{player.right['sosScore']}}</div></strong>
<button class="btn btn-success" ng-click="player.right['clicked'] = false">Hide</button>
</div>
</div>

</div>
</div>
</div>
