/*

@import "bootstrap-sprockets"
@import "bootstrap"



.nav, .pagination, .carousel, .panel-title a
  cursor: pointer


div .jumbotron
  overflow-y: auto
div #profiles
  margin: auto

div .profile
  float: left
  padding-right: 30px


div .active

  background-color: #90EE90


div #teambar
  margin: auto


div .player_matchup
  margin: auto



div .player-container
  margin: auto
  align-items: center


div #positionTitle
  margin: auto
  text-align: center
