img {
  height: 200;
  width: 200;

}

div .profile {
  float: left;
  padding-right: 30px
}

div .active {

  background-color: #90EE90;
}

div #teambar {
  margin: auto;
   
}

div .player_matchup {
  margin: auto;
}

div .player-container {
  margin: auto;
}